* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrapper {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 320px;
    text-align: center;
    padding: 25px;
    margin: 10px;
}

.textInput {
    border: none;
    height: 28px;
    margin: 2px;
    border: 1px solid #6B7363;
    font-size: 1.2em;
    padding: 5px;
    width: 95%;
}

.textInput:focus {
    outline: none;
}

.btn {
    margin-top: 5px;
    padding: 12px;
    width: 80%;
    border: none;
}

.error_border {
    border: 1px solid #f51c0c;
}

.errorDanger {
    color: #f51c0c;
    /*#5e6e66*/
}

.succes_border {
    border: 1px solid #5e6e66;
}

.succes {
    color: #5e6e66;
}